// the presets property impacts pre-processing of ES6 and JSX in files being tested

{
  "plugins": ["transform-object-rest-spread", "transform-flow-strip-types"],
  "presets": [
     "react",
     "es2015"
  ]
}
