# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Grunt
.grunt

# Dependency directories
node_modules
__test__/__snapshots__/App.test.js.snap

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
